pkgbase = android-rebuilds-sdk-build-tools-bin
	pkgdesc = Build-Tools for Android SDK provided by Android Rebuilds (aapt, aidl, dexdump, dx, llvm-rs-cc)
	pkgver = r29.0.2
	pkgrel = 1
	url = https://android-rebuilds.beuc.net/
	arch = i686
	arch = x86_64
	license = custom
	depends = gcc-libs
	depends = zlib
	optdepends = lib32-gcc-libs
	optdepends = lib32-zlib
	options = !strip
	source = https://android-rebuilds.beuc.net/dl/repository/sdk-repo-linux-build-tools-eng.10.0.0_r14.zip
	sha256sums = e9e16315087925f35ea25cb17f1892a29772cfc00db7ad7542703da427f9dfac

pkgname = android-rebuilds-sdk-build-tools-bin

