pkgbase = android-rebuilds-sdk-build-tools-bin
	pkgdesc = Build-Tools for Android SDK provided by Android Rebuilds (aapt, aidl, dexdump, dx, llvm-rs-cc)
	pkgver = r30.0.3
	pkgrel = 1
	url = https://android-rebuilds.beuc.net/
	arch = i686
	arch = x86_64
	license = custom
	depends = gcc-libs
	depends = zlib
	optdepends = lib32-gcc-libs
	optdepends = lib32-zlib
	provides = android-sdk-build-tools
	options = !strip
	source = https://android-rebuilds.beuc.net/dl/repository/sdk-repo-linux-build-tools-eng.11.0.0_r27.zip
	sha256sums = 53973f73e9a60829c4f920acbed5fe5e784b5efc0972f09938da185c384e3470

pkgname = android-rebuilds-sdk-build-tools-bin

